@import '@styles/mixins';
@import '@styles/constants';

.root {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 80%;
}

.input__wrapper {
  position: absolute;
  display: flex;
  align-items: center;
  top: 6px;
  right: 8px;

  & :hover {
    color: $primary;
  }

  & :first-child {
    margin-right: 8px;
  }
  & :nth-child(2) {
    margin-right: 8px;
  }
}

.input__search {
  @include input__large();
  border-radius: 24px;
  width: 100%;
  margin-bottom: 16px;
}

.modal {
  width: 36px;
  color: #a8a8a8;
}

.button__search {
  width: 36px;
  height: 36px;
  background-size: contain;
  background-image: url('../../../public/icons/search_black_24dp.svg');
}

.badge {
  display: inline-block;
  border: 1px $primary solid;
  border-radius: 48px;
  padding: 4px;
  margin: 2px;
  color: $primary;
  font-size: 12px;
  cursor: pointer;
  letter-spacing: -1px;
}
