@import '@styles/mixins';
@import '@styles/constants';

.root {
  @include animation();
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.input__wrapper {
  @include input__wrapper();
}

.input__search {
  @include input__search();
}

.modal {
  @include modal();
}

.button__search {
  @include button__search();
}

.badge {
  @include badge();
}
