@import '@styles/mixins';
@import '@styles/constants';

.root {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: $main_size;
}

.input_wrapper {
  @include input_wrapper();
}

.search {
  @include input_search();
}

.modal {
  @include modal();
}

.button_search {
  @include button_search();
}
