@import '@styles/mixins';
@import '@styles/constants';

.root {
  @include container__column();
  width: 100%;
}

.profile__wrapper {
  width: 70%;
  margin-bottom: $main__margin__size;
}

.disabled__input {
  display: none;
}

.profile__upload {
  width: 216px;
  height: 216px;
  margin: 0 auto $main__margin__size;

  & .profile__image {
    width: inherit;
    height: inherit;
    border-radius: 50%;
  }
}

.profile__input__wrapper {
  display: flex;
  width: 100%;
}

.profile__input {
  @include input__small();
  margin-right: 8px;
}

.profile__textarea {
  width: 70%;
  height: 96px;
  border-radius: 12px;
  padding: 8px;
  resize: none;
  border: 1px $main__gray solid;
  margin-bottom: $main__margin__size;
}

.profile_button_small {
  @include button_small();
}

.profile_button_large {
  @include button_large();
  width: 70%;
}

.title {
  @include title();
}
