@import '@styles/mixins';
@import '@styles/constants';

.root {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 80%;
  padding: 0;
  box-shadow: none;
  margin-bottom: $sub_size;
}

.wrapper {
  display: flex;
  width: 100%;
  margin-bottom: $sub_size;
}

.disabled {
  display: none;
}

.nickname_wrapper {
  display: flex;
}

.signup {
  position: absolute;
  top: 0;
  right: 0;
  &:hover {
    color: $primary;
    transition: color 300ms ease-in-out;
  }
}

.email {
  margin-bottom: 24px;
  background-color: rgba(0.2, 0.2, 0.2, 0.1);
}

.upload {
  width: 288px;
  height: 288px;
  margin-right: $main_size;

  & .image {
    width: inherit;
    height: inherit;
    border-radius: 50%;
  }
}

.input_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.input {
  @include input_small();
  margin-right: 8px;
}

.textarea {
  width: 100%;
  height: 96px;
  border-radius: 12px;
  padding: 8px;
  resize: none;
  border: 1px $main_gray solid;
  margin-bottom: $sub_size;
}

.button_small {
  @include button_small();
}

.button_large {
  @include button_large();
  width: 100%;
}

.title {
  @include title();
  margin-bottom: $main_size;
}
