@import '@styles/mixins';
@import '@styles/constants';

.root {
  @include container_column();
  width: 70%;
}

.title {
  @include title();
}

.wrapper {
  width: 100%;
  display: flex;
  margin-bottom: $sub_size;
}
.input {
  @include input_large();
  margin-right: 8px;
}

.textarea {
  @include post_textarea();
}

.button_large {
  @include button_large();
}

.modal {
  color: $sub_gray;
  margin-right: 8px;
  &:hover {
    color: $primary;
    cursor: pointer;
  }
}

.modal_wrapper {
  width: 100%;
  margin-bottom: $sub_size;
}

.badge {
  @include badge();
}
