@import '@styles/mixins';
@import '@styles/constants';

.root {
  @include container__column();
  width: 70%;
}

.title {
  @include title();
}

.wrapper {
  width: 100%;
  display: flex;
  margin-bottom: $main__margin__size;
}
.post__input {
  @include input__large();
  margin-right: 8px;
}

.post__textarea {
  @include post__textarea();
}

.post_button_large {
  @include button_large();
}

.modal {
  @include modal();
  display: flex;

  & p {
    margin-right: 8px;
    flex-shrink: 0;
  }
}

.badge {
  display: inline-block;
  border: 1px $primary solid;
  border-radius: 48px;
  padding: 4px;
  margin: 2px;
  color: $primary;
  font-size: 12px;
  cursor: pointer;
  letter-spacing: -1px;
}
