@import '@styles/constants';
@import '@styles/mixins';

.root {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 50%;
  height: 36px;
  margin: 0 auto;
  color: $sub__gray;
  & li:hover {
    color: $primary;
    cursor: pointer;
  }
}
