$primary: #1a72e8;
$secondary: #302e2e;
$point: #5abfbc;
$main__gray: #c8c8c8;
$main__white: #ffffff;
$sub__gray: #a8a8a8;
$main__red: #ff0000;
$main__padding__size: 48px;
$sub__padding__size: 32px;
$main__height: 48px;
$main__margin__size: 28px;
