@import '@styles/constants';

@mixin container__column {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 0;
  padding: $main__padding__size;

  width: 570px;

  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}

@mixin container__row {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

@mixin animation {
  animation: fadein 2s;
  @keyframes fadein {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}

@mixin input__large {
  width: 100%;
  height: $main__height;

  border-radius: 12px;
  border: 1px $main__gray solid;

  padding: 0 8px;
}

@mixin input__small {
  width: 100%;
  height: $main__height;

  border-radius: 12px;
  border: 1px $main__gray solid;

  padding: 0 0.5rem;
  margin-right: 0.5rem;
}

@mixin button_large {
  width: 100%;
  height: $main__height;

  border-radius: 12px;
  border: 0;

  background-color: $primary;
  color: $main__white;

  &:hover {
    background-color: $secondary;
    transition: background-color 300ms ease-in-out;
  }
}

@mixin button_small {
  width: 20%;
  height: $main__height;

  border-radius: 12px;
  border: 0;

  background-color: $primary;
  color: $main__white;

  &:hover {
    background-color: $secondary;
    transition: background-color 300ms ease-in-out;
  }
}

@mixin title {
  color: $primary;
  margin-bottom: 32px;
}

@mixin text__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 12px 0;
}

@mixin error {
  margin: 12px 0;
  text-align: center;
  color: $main__red;
  font-size: 12px;
}

@mixin text {
  margin: 0 16px;
  text-align: center;
  font-size: 12px;
  cursor: pointer;
}

@mixin modal {
  width: 100%;
  font-size: 18px;
  color: $secondary;
  margin-bottom: $main__margin__size;
  cursor: pointer;

  &:hover {
    color: $primary;
  }
}

@mixin post__textarea {
  width: 100%;
  height: 216px;
  resize: none;

  border-radius: 12px;
  border: 1px $main__gray solid;
  margin-bottom: $main__margin__size;
  padding: 12px;
}

@mixin input__wrapper {
  position: absolute;
  display: flex;
  align-items: center;
  top: 6px;
  right: 8px;
  cursor: pointer;

  & :first-child {
    margin-right: 8px;
  }
  & :nth-child(2) {
    margin-right: 8px;
  }
}

@mixin input__search {
  @include input__large();
  border-radius: 24px;
  width: 100%;
  margin-bottom: 16px;
  display: flex;
  align-content: center;
}

@mixin modal {
  width: 36px;
  color: #a8a8a8;
}

@mixin button__search {
  width: 36px;
  height: 36px;
  background-size: contain;
  background-image: url('../../../public/icons/search_black_24dp.svg');
}

@mixin badge {
  display: inline-block;
  border: 1px $primary solid;
  border-radius: 48px;
  padding: 4px;
  margin: 2px;
  color: $primary;
  font-size: 12px;
  cursor: pointer;
  letter-spacing: -1px;
}

@mixin cards__wrapper {
  text-align: left;
  margin-bottom: $main__margin__size;
}

@mixin write__button {
  position: absolute;
  top: 96px;
  right: 48px;

  &:hover {
    color: $primary;
    transition: color 300ms ease-in-out;
  }
}

@mixin card__wrapper {
  padding: 12px;
  border-bottom: #f5f5f5 solid;
  cursor: pointer;
}

@mixin card__nickname {
  color: $primary;
  margin-right: 8px;
}

@mixin card__date {
  color: $sub__gray;
}

@mixin nodata {
  font-size: $main__margin__size;
  color: $sub__gray;
  text-align: center;
}
