@import '@styles/constants';
@import '@styles/mixins';

.root {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  min-height: 100vh;
  background-color: #00000080;
  padding: $main__padding__size;
  z-index: 1;
}

.modal__wrapper {
  position: relative;
  width: 70%;
  min-height: 70%;
  background-color: #ffffff;
  border-radius: 12px;
  padding: 64px;

  overflow: scroll;
}
