@import '@styles/mixins';
@import '@styles/constants';

.root {
  @include container__column();
  width: 70%;
}

.title {
  @include title();
}

.wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: $main__margin__size;
  & .post__author {
    color: $primary;
    margin-right: 8px;
  }

  & .post__date {
    color: $main__gray;
  }
}
.post__input {
  @include input__large();
  margin-right: 8px;
}

.post__textarea {
  @include post__textarea();
}

.post_button_large {
  @include button_large();
}

.modal {
  @include modal();
}
