@import '@styles/mixins';
@import '@styles/constants';

.root {
  @include container_column();
  width: 70%;
}

.title {
  @include title();
}

.wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;

  & .image {
    display: block;
    margin-left: auto;
    width: 48px;
    height: 48px;
    border-radius: 50%;
  }

  & .author {
    color: $primary;
    margin-right: 8px;
  }

  & .date {
    color: $main_gray;
    font-size: 14px;
  }
}

.textarea {
  @include post_textarea();
  margin-bottom: $main_size;
}

.button_large {
  @include button_large();
}

.modal {
  @include modal();
}

.button_wrapper {
  position: absolute;
  bottom: $main_size;
  right: $main_size;

  & button:first-child {
    margin-right: 4px;
  }
}

.button {
  color: $primary;
  &:hover {
    color: $secondary;
  }
}

.title_wrapper {
  display: flex;
  align-items: center;

  & h1 {
    overflow: ellipsis;
    margin-right: 8px;
  }

  & .post_badge {
    width: 60px;
    font-size: 12px;
    text-align: center;
    background-color: $primary;
    border-radius: 12px;
    color: $main_white;
  }
}

.badge_wrapper {
  width: 100%;
  &.last {
    margin-bottom: 12px;
  }
}

.badge {
  @include badge();
}

.detail_wrapper {
  &:last-child {
    text-align: right;
  }
}
