@import '@styles/mixins';
@import '@styles/constants';

.root {
  @include container__column();
  width: 70%;
}

.title {
  @include title();
}

.wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
  & .post__author {
    color: $primary;
    margin-right: 8px;
  }

  & .post__date {
    color: $main__gray;
    font-size: 14px;
  }
}
.post__input {
  @include input__large();
  margin-right: 8px;
}

.post__textarea {
  @include post__textarea();
  margin-bottom: 48px;
}

.post_button_large {
  @include button_large();
}

.modal {
  @include modal();
}

.button__wrapper {
  position: absolute;
  bottom: 48px;
  right: 48px;

  & button:first-child {
    margin-right: 4px;
  }
}

.post__button {
  color: $primary;
  &:hover {
    color: $secondary;
  }
}

.post__title__wrapper {
  display: flex;
  align-items: center;

  & h1 {
    overflow: ellipsis;
    margin-right: 8px;
  }

  & .post__badge {
    width: 60px;
    font-size: 12px;
    text-align: center;
    background-color: $primary;
    border-radius: 12px;
    color: $main__white;
  }
}

.badge__wrapper {
  width: 100%;
  &.last {
    margin-bottom: 12px;
  }
}

.badge {
  @include badge();
}
