@import '@styles/constants';
@import '@styles/mixins';

.root {
  @include container_column();
  width: 100%;
  height: 420px;
  background-color: $primary;
  padding-right: $main_size;
  margin-bottom: $main_size;
}

.title {
  font-size: 108px;
  font-weight: 700;
  color: $main_white;
  font-style: italic;
}
