@import '@styles/constants';
@import '@styles/mixins';

.root {
  @include container__column();
  @include animation();
  width: 80%;
  height: 420px;
  background-color: $primary;
  padding-right: $main__size;
  margin-bottom: $main__size;
}

.banner__title {
  font-size: 108px;
  font-weight: 700;
  color: #ffffff;
  font-style: italic;
}

.banner__image {
  width: 640px;
  height: 360px;
}

.banner__text {
  font-size: 48px;
  font-weight: 700;
  color: #ffffff;
  text-align: end;
  line-height: 1;
  white-space: nowrap;
}
