@import '@styles/constants';
@import '@styles/mixins';

.root {
  @include container_column();
  width: 100%;
  height: 420px;
  background-color: $primary;
  padding-right: $main_size;
  margin-bottom: $main_size;
  position: relative;
}

.title {
  font-size: 60px;
  min-width: 11px;
  white-space: nowrap;
  margin: 0;
  color: transparent;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);

  &::before {
    content: 'Exercise for better life ';
    position: absolute;
    top: 50%;
    right: -50%;
    width: 100%;
    height: 100%;
    color: $main_white;
    overflow: hidden;
    border-right: 1px solid $main_white;
    animation: typing 10s steps(31) infinite;
  }

  @keyframes typing {
    0% {
      width: 0%;
    }
    80% {
      width: 100%;
    }
    100% {
      width: 100%;
    }
  }
}
